


/* .container{
    display = flex
    flexWrap = wrap
    justifyContent = space-around
    alignItems = center
    padding = 10px
} */

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

div{
    width: 200px;
    height: 180px;
    background-color: #696969;
    color: white;
    margin-bottom: 10px;
    padding: 5px;
}